.last-updated {
  margin: 2em 0;
  text-align: center;
}

footer {
  clear: both;

  @media (min-width: 800px) {
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      margin-right: 7px;

      &:last-child {
        margin-right: 0;

        &::after {
          content: '';
        }
      }

      &::after {
        content: ' |';
      }
    }
  }
}
