.content {
  margin: auto;
  max-width: $max-width;
  padding: 0 3% 3% 3%;

  @media (min-width: $max-width) {
    padding: 0 0 3% 0;
  }
}

.page {
  display: none;
  width: 100%;

  &.active {
    display: block;
  }
}

.home {
  text-align: center;
}
